@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
}


.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}


.responsive-base-width {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

.card-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 10;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 16px;
  height: 16px;
  fill: black;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.ShopDetails input {
  height: 42px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0095FF !important;
}

.ant-tabs-ink-bar {
  background-color: #0095FF !important;
}

.jodit-status-bar.jodit-status-bar_resize-handle_true {
  display: none;
}

.active {
  background: white;
  color: black;
}

.ant-popover-inner {
  padding: 13px !important;
  border-radius: 12px !important;
  font-family: 'Poppins';
}

.ant-popconfirm-buttons .ant-btn-primary {
  background-color: #ef4444;
  /* Red-500 */
}